player-connection-mode=Listen
player-connection-guid=2966983444
player-connection-debug=0
player-connection-project-name=Robots Carnage
player-connection-ip=26.158.202.119
player-connection-ip=192.168.22.122
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
